html {
	background-color: white;
}

@font-face{
	font-family: t375;
	src:url(OhnoFatfaceDemo-72PtSquished.otf);
}
@font-face{font-family: t600;
	src:url(OhnoFatfaceDemo-72PtCompressed.otf);
}
@font-face{font-family: t840;
	src:url(OhnoFatfaceDemo-72PtCondensed.otf);
}
@font-face{font-family: t1080;
	src:url(OhnoFatfaceDemo-72PtNarrow.otf);
}
@font-face{font-family: t1280;
	src:url(OhnoFatfaceDemo-72Pt.otf);
}
@font-face{font-family: topic;
	src:url(ObviouslyDemo-Super.otf);
}
@font-face{font-family: h375;
	src:url(ObviouslyDemo-Compressed.otf);
}
@font-face{font-family: h600;
	src:url(ObviouslyDemo-Condensed.otf);
}
@font-face{font-family: h840;
	src:url(ObviouslyDemo-Narrow.otf);
}
@font-face{font-family: h1080;
	src:url(ObviouslyDemo-Regular.otf);
}
@font-face{font-family: h1280;
	src:url(ObviouslyDemo-Wide.otf);
}
@font-face{font-family: c375;
	src:url(ObviouslyDemo-CompressedSuperItalic.otf);
}
@font-face{font-family: c600;
	src:url(ObviouslyDemo-CondensedSuperItalic.otf);
}
@font-face{font-family: c840;
	src:url(ObviouslyDemo-NarrowSuperItalic.otf);
}
@font-face{font-family: c1080;
	src:url(ObviouslyDemo-SuperItalic.otf);
}
@font-face{font-family: c1280;
	src:url(ObviouslyDemo-WideSuperItalic.otf);
}
@font-face{font-family: b1;
	src:url(DegularDemo-Regular.otf);
}
@font-face{font-family: b2;
	src:url(DegularDemo-Light.otf);
}

@media screen and (max-width:480px) {

	.main {
		margin: 64px 16px 64px 16px;
	}

	header {
		font-family: t375;
		font-weight: 100;
		font-size: 320pt;
		line-height: 256pt;
		color: #ffffff;
		background: linear-gradient(168deg, #FA6400 0%, #FA0000 20%, #6400FA 40%, #0064FA 60%, #00FF64 80.21%, #FAC800 100%);
	}

	p1 {
		font-family: b1;
		font-size: 16pt;
		line-height: 24pt;
		color: #000000;
		padding-top: 48px;
		display: inline-block;
		max-width: 283px;
		alighn: center;
	}

	p2 {
		font-family: b2;
		color: #000000;
		padding-top: 48px;
		display: inline-block;
	}

	p3 {
		font-family: b1;
		font-size: 18pt;
		line-height: 32pt;
	}

	.pre-black {
		height: 240px;
		background: linear-gradient(180deg, #FFF 0%, #000 100%);
	}

	.pre-orange {
		height: 240px;
		background: linear-gradient(180deg, #000 0%, #FA6400 100%);
	}

	.pre-red {
		height: 240px;
		background: linear-gradient(180deg, #FA6400 0%, #FA0000 100%);
	}

	.pre-purple {
		height: 240px;
		background: linear-gradient(180deg, #FA0000 0%, #6400FA 100%);
	}

	.pre-blue {
		height: 240px;
		background: linear-gradient(180deg, #6400FA 0%, #0064FA 100%);
	}

	.pre-green {
		height: 240px;
		background: linear-gradient(180deg, #0064FA 0%, #00FA64 100%);
	}

	.pre-yellow {
		height: 240px;
		background: linear-gradient(180deg, #00FA64 0%, #FAC800 100%);
	}

	.pre-white {
		height: 240px;
		background: linear-gradient(180deg, #FAC800 0%, #FFF 100%);
	}


	.p3b {
		color: #000000;
	}

	.p3w {
		color: #ffffff;
	}

	h3 {
		font-family: topic;
		font-weight: 100;
		font-size: 18pt;
		line-height: 18pt;
		color: #000000;
		text-align: center;
	}

	h2 {
		font-family: h375;
		font-weight: 100;
		font-size: 108pt;
		line-height: 108pt;
		color: #000000;
		
		text-align: center;
		text-transform: uppercase;
	}

	h1 {
		font-family: c375;
		font-weight: 100;
		font-size: 180pt;
		line-height: 180pt;
		text-align: center;
	}

	.h1b {
		color: #000000;
	}

	.h1w {
		color: #ffffff;
	}

	.black {
		background-color: #000000;
	}

	.orange {
		background-color: #fa6400;
	}

	.red {
		background-color: #fa0000;
	}

	.purple {
		background-color: #6400fa;
	}

	.blue {
		background-color: #0064fa;
	}

	.green {
		background-color: #00fa64;
	}

	.yellow {
		background-color: #faca00;
	}

	.white {
		background-color: #ffffff;
	}

	footer {
		font-family: topic;
		font-weight: 100;
		font-size: 12pt;
		line-height: 12pt;
		color: #ffffff;
		background: linear-gradient(168deg, #FA6400 0%, #FA0000 20%, #6400FA 40%, #0064FA 60%, #00FF64 80.21%, #FAC800 100%);
	}

}

@media screen and (min-width:600px) {
}

@media screen and (min-width:840px) {
}

@media screen and (min-width:1080px) {
}

@media screen and (min-width:1280px) {

}