html {
	background-color: white;
}

@font-face{
	font-family: t375;
	src:url(OhnoFatfaceDemo-72PtSquished.otf);
}
@font-face{font-family: t600;
	src:url(OhnoFatfaceDemo-72PtCompressed.otf);
}
@font-face{font-family: t840;
	src:url(OhnoFatfaceDemo-72PtCondensed.otf);
}
@font-face{font-family: t1080;
	src:url(OhnoFatfaceDemo-72PtNarrow.otf);
}
@font-face{font-family: t1280;
	src:url(OhnoFatfaceDemo-72Pt.otf);
}
@font-face{font-family: topic;
	src:url(ObviouslyDemo-Super.otf);
}
@font-face{font-family: h375;
	src:url(ObviouslyDemo-Compressed.otf);
}
@font-face{font-family: h600;
	src:url(ObviouslyDemo-Condensed.otf);
}
@font-face{font-family: h840;
	src:url(ObviouslyDemo-Narrow.otf);
}
@font-face{font-family: h1080;
	src:url(ObviouslyDemo-Regular.otf);
}
@font-face{font-family: h1280;
	src:url(ObviouslyDemo-Wide.otf);
}
@font-face{font-family: c375;
	src:url(ObviouslyDemo-CompressedSuperItalic.otf);
}
@font-face{font-family: c600;
	src:url(ObviouslyDemo-CondensedSuperItalic.otf);
}
@font-face{font-family: c840;
	src:url(ObviouslyDemo-NarrowSuperItalic.otf);
}
@font-face{font-family: c1080;
	src:url(ObviouslyDemo-SuperItalic.otf);
}
@font-face{font-family: c1280;
	src:url(ObviouslyDemo-WideSuperItalic.otf);
}
@font-face{font-family: b1;
	src:url(DegularDemo-Regular.otf);
}
@font-face{font-family: b2;
	src:url(DegularDemo-Light.otf);
}
@font-face{font-family: b3;
	src:url(DegularDemo-bold.otf);
}

@media screen and (min-width:375px) {

	.main {
		margin: 4rem 1rem 4rem 1rem;
	}

	header {
		background: linear-gradient(168deg, #FA6400 0%, #FA0000 20%, #6400FA 40%, #0064FA 60%, #00FF64 80.21%, #FAC800 100%);
		padding: 0.25rem 0.5rem 4rem 0.25rem;

		font-family: t375;
		font-weight: 100;
		font-size: 20rem;
		line-height: 16rem;
		color: #ffffff;
		text-align: center;
		overflow-wrap: break-word;
	}

	p1 {
		margin: auto;
		padding-top: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		display: inline-block;

		font-family: b1;
		font-weight: 100;
		font-size: 1rem;
		line-height: 1.5rem;
		color: #000000;
		text-align: left;
		text-wrap: balance;

		max-width: 283px;
	}

	p2 {
		padding-top: 3rem;
		display: inline-block;

		font-family: b2;
		font-size: 0.75rem;
		line-height: 1.125rem;
		color: #000000;
		text-align: left;
		text-wrap: balance;

	}

	p3 {
		padding-top: 4rem;
		display: inline-block;

		font-family: b3;
		font-size: 1.125rem;
		line-height: 1.6875rem;
		text-align: left;
		text-wrap: balance;
	}
	.p3b {color: #000000;}
	.p3w {color: #ffffff;}

	.pre-black {
		background: linear-gradient(180deg, #FFF 0%, #000 100%);
		height: 15rem;
	}

	.pre-orange {
		background: linear-gradient(180deg, #000 0%, #FA6400 100%);
		height: 15rem;
	}

	.pre-red {
		background: linear-gradient(180deg, #FA6400 0%, #FA0000 100%);
		height: 15rem;
	}

	.pre-purple {
		background: linear-gradient(180deg, #FA0000 0%, #6400FA 100%);
		height: 15rem;
	}

	.pre-blue {
		background: linear-gradient(180deg, #6400FA 0%, #0064FA 100%);
		height: 15rem;
	}

	.pre-green {
		background: linear-gradient(180deg, #0064FA 0%, #00FA64 100%);
		height: 15rem;
	}

	.pre-yellow {
		background: linear-gradient(180deg, #00FA64 0%, #FAC800 100%);
		height: 15rem;
	}

	.pre-white {
		background: linear-gradient(180deg, #FAC800 0%, #FFF 100%);
		height: 15rem;
	}

	h3 {
		font-family: topic;
		font-weight: 100;
		font-size: 1.125rem;
		line-height: 1.6875rem;
		color: #000000;
		text-align: center;
		text-transform: uppercase;
	}

	h2 {
		padding-top: 1rem;

		font-family: h375;
		font-weight: 100;
		font-size: 6.75rem;
		line-height: 10.125rem;
		color: #000000;
		text-align: center;
		text-transform: uppercase;
	}

	h1 {
		font-family: c375;
		font-weight: 100;
		font-size: 11.25rem;
		line-height: 16.875rem;
		text-align: center;
	}
.h1b {color: #000000;}
.h1w {color: #ffffff;}

	.black {
		background-color: #000000;
		padding: 4rem 1rem 4rem 1rem;
	}

	.orange {
		background-color: #fa6400;
		padding: 4rem 1rem 4rem 1rem;
}

	.red {
		background-color: #fa0000;
		padding: 4rem 1rem 4rem 1rem;
	}

	.purple {
		background-color: #6400fa;
		padding: 4rem 1rem 4rem 1rem;
	}

	.blue {
		background-color: #0064fa;
		padding: 4rem 1rem 4rem 1rem;
	}

	.green {
		background-color: #00fa64;
		padding: 4rem 1rem 4rem 1rem;
	}

	.yellow {
		background-color: #faca00;
		padding: 4rem 1rem 4rem 1rem;
	}

	.white {
		background-color: #ffffff;
		padding: 4rem 1rem 4rem 1rem;
	}

	footer {
		background: linear-gradient(168deg, #FA6400 0%, #FA0000 20%, #6400FA 40%, #0064FA 60%, #00FF64 80.21%, #FAC800 100%);
		margin-top: 5.25rem;
		display: flex;
		flex: 1 0 0 0;
		padding: 1rem;
		gap: 1rem;

		font-family: topic;
		font-weight: 100;
		font-size: 0.75rem;
		line-height: 0.75rem;
		font-weight: 100;
		color: #ffffff;
		text-transform: uppercase;
	}

@media screen and (min-width:600px) {
}

@media screen and (min-width:840px) {
}

@media screen and (min-width:1080px) {
}

@media screen and (min-width:1280px) {
	.main {
		margin: 128px 32px 256px 32px;
	}

	header {
		font-family: t1280;
		font-weight: 100;
		font-size: 320px;
		line-height: 260px;
		color: #ffffff;
		text-align: left;
		background: linear-gradient(168deg, #FA6400 0%, #FA0000 20%, #6400FA 40%, #0064FA 60%, #00FF64 80.21%, #FAC800 100%);
		padding: 4px 8px 64px 8px;
	}

	h2 {
		font-family: h1280;
		font-weight: 100;
		font-size: 108px;
		line-height: 108px;
		color: #000000;
		text-align: left;
		text-transform: uppercase;
	}

	h1 {
		font-family: c1280;
		font-weight: 100;
		font-size: 90px;
		line-height: 90px;
		text-align: left;
	}

	h3 {
		font-family: topic;
		font-weight: 100;
		font-size: 36px;
		line-height: 36px;
		color: #000000;
		text-align: left;
		text-transform: uppercase;
		margin-top: 128px;
	}

	p1 {
		font-family: b1;
		font-size: 36px;
		line-height: 40px;
		color: #000000;
		padding-top: 96px;
		display: inline-block;
		max-width: 592px;
		text-align: left;
		text-wrap: balance;
		display: flex;	
	}

	.refer {
		display: flex;
		flex: 1 0;
		gap: 32px;
	}

	.real-refer {
		margin-top: 148%;
		font-size: 24px;
	}

	.second {
		margin-left: 0px;
	}

	p3 {
		display: inline-block;
		font-family: b3;
		font-size: 48px;
		line-height: normal;
	}

	.black {
		background-color: #000000;
		padding: 96px 32px 96px 32px;
		display: grid;
		grid-template-columns: 592px 592px;
	}

	.orange {
		background-color: #fa6400;
		padding: 96px 32px 96px 32px;
		display: grid;
		grid-template-columns: 592px 592px;
		flex-direction: row-reverse;
	}

	.red {
		background-color: #fa0000;
		padding: 96px 32px 96px 32px;
		display: grid;
		grid-template-columns: 592px 592px;
	}

	.purple {
		background-color: #6400fa;
		padding: 96px 32px 96px 32px;
		display: grid;
		grid-template-columns: 592px 592px;
	}

	.blue {
		background-color: #0064fa;
		padding: 96px 32px 96px 32px;
		display: grid;
		grid-template-columns: 592px 592px;
	}

	.green {
		background-color: #00fa64;
		padding: 96px 32px 96px 32px;
		display: grid;
		grid-template-columns: 592px 592px;
	}

	.yellow {
		background-color: #faca00;
		padding: 96px 32px 96px 32px;
		display: grid;
		grid-template-columns: 592px 592px;
	}

	.white {
		background-color: #ffffff;
		padding: 96px 32px 96px 32px;
		display: grid;
		grid-template-columns: 592px 592px;
	}



}